<mat-toolbar class="navbar" [class.mat-elevation-z8] color="primary">
  <div>DataApp</div>
</mat-toolbar>
<div class="main-div">
<mat-card class="card-div">
  <mat-card-title class="text">Login!</mat-card-title>
  <mat-card-actions class="buttonclass">
    <button mat-raised-button  color="warn" (click)="signInWithGoogle()">Sign in with Google</button>
  </mat-card-actions>
</mat-card>
</div>

<!--<mat-card *ngIf="user">-->
<!--  <mat-card-title>-->
<!--    Hello {{user.name}}-->
<!--  </mat-card-title>-->
<!--  <mat-card-content>{{user.email}}</mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <button mat-raised-button (click)="signOut()">Sign Out!</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
