<mat-toolbar class="navbar" [class.mat-elevation-z8] color="primary">
  <div>DataApp</div>
  <button mat-button (click)="signOut()">Sign Out</button>
</mat-toolbar>
<div class="welcometext">
  <h1>Welcome {{username + ',' | titlecase}}</h1>
</div>
<mat-card class="candidatecard">
  <mat-card-title class="mat-card-cvr">FEC Dataset</mat-card-title>
  <mat-card-content>The dataset contains information about people running for office.
    A candidate is an individual seeking nomination for election to a federal office. People become candidates when they raise contributions or make expenditures that exceed $5,000.</mat-card-content>
</mat-card>
<div class="filterbuttonsdiv">
  <button mat-raised-button [ngClass]="{'test1': newColor1}" (click)="displayform(1)" class="filterbuttons">Name
  </button>
  <button mat-raised-button [ngClass]="{'test2': newColor2}" (click)="displayform(2)" class="filterbuttons">State
  </button>
  <button mat-raised-button [ngClass]="{'test3': newColor3}" (click)="displayform(3)" class="filterbuttons">Party
  </button>
  <button mat-raised-button [ngClass]="{'test4': newColor4}" (click)="displayform(4)" class="filterbuttons">ID</button>
  <button mat-raised-button [matMenuTriggerFor]="menu1" style="float: right; margin-right: 50px;">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item (click)="sortcandidateid()">ID</button>
    <button mat-menu-item (click)="sortcandidatename()">Name</button>
    <button mat-menu-item (click)="sortcandidateparty()">Party</button>
    <button mat-menu-item (click)="sortcandidatestate()">State</button>
  </mat-menu>
  <button mat-raised-button [matMenuTriggerFor]="menu2" style="float: right; margin-right: 5px;">
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="sortcandidateiddesc()">ID</button>
    <button mat-menu-item (click)="sortcandidatenamedesc()">Name</button>
    <button mat-menu-item (click)="sortcandidatepartydesc()">Party</button>
    <button mat-menu-item (click)="sortcandidatestatedesc()">State</button>
  </mat-menu>
</div>
<mat-card class="cardform-div" *ngIf="nameflag">
  <mat-form-field>
    <mat-label>Filter by Candidate Name</mat-label>
    <label>
    <input matInput type="text" [(ngModel)]="candidatenameval" (input)="findByCandidateName(candidatenameval)"
           placeholder="Search Candidate Name">
    </label>
  </mat-form-field>
</mat-card>
<mat-card class="cardform-div" *ngIf="idflag">
  <mat-form-field>
    <mat-label>Filter by Candidate ID</mat-label>
    <label>
      <input matInput type="text" [(ngModel)]="candidateidval" (input)="findByCandidateID(candidateidval)"
             placeholder="Search Candidate ID">
    </label>
  </mat-form-field>
</mat-card>
<mat-card class="cardform-div" *ngIf="stateflag">
  <mat-form-field>
    <mat-label>Filter by State</mat-label>
    <label>
      <input matInput type="text" [(ngModel)]="stateval" (input)="findByState(stateval)" placeholder="Search by State">
    </label>
  </mat-form-field>
</mat-card>
<mat-card class="cardform-div" *ngIf="partyflag">
  <mat-form-field>
    <mat-label>Filter by Party</mat-label>
    <label>
      <input matInput type="text" [(ngModel)]="partyval" (input)="findByPartyName(partyval)"
             placeholder="Search Candidate Party Name (DEM or REP)">
    </label>
  </mat-form-field>
</mat-card>
<mat-card class="card-div">
  <div class="tableprop" *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource.results">

      <ng-container matColumnDef="party">
        <th mat-header-cell *matHeaderCellDef>Party
        </th>
        <td mat-cell
            *matCellDef="let candidate">{{(candidate.party_full ? candidate.party_full : 'Unknown') | titlecase}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
        <td mat-cell *matCellDef="let candidate"> {{candidate.name | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="candidate_inactive">
        <th mat-header-cell *matHeaderCellDef>Candidate Inactive</th>
        <td mat-cell *matCellDef="let candidate"> {{ candidate.candidate_inactive ? 'True' : 'False'}}  </td>
      </ng-container>

      <ng-container matColumnDef="has_raised_funds">
        <th mat-header-cell *matHeaderCellDef>Has Raised Funds</th>
        <td mat-cell *matCellDef="let candidate">{{ candidate.has_raised_funds ? 'True' : 'False'}}</td>
      </ng-container>

      <ng-container matColumnDef="incumbent_challenge">
        <th mat-header-cell *matHeaderCellDef>Incumbent Challenge</th>
        <td mat-cell
            *matCellDef="let candidate"> {{candidate.incumbent_challenge_full ? candidate.incumbent_challenge_full : 'N/A'}} </td>
      </ng-container>

      <ng-container matColumnDef="candidate_id">
        <th mat-header-cell *matHeaderCellDef>Candidate ID
        </th>
        <td mat-cell *matCellDef="let candidate"> {{candidate.candidate_id}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let candidate"> {{candidate.state}} </td>
      </ng-container>

      <ng-container matColumnDef="district_number">
        <th mat-header-cell *matHeaderCellDef>District Number</th>
        <td mat-cell *matCellDef="let candidate"> {{candidate.district_number}} </td>
      </ng-container>

      <ng-container matColumnDef="office">
        <th mat-header-cell *matHeaderCellDef>Office</th>
        <td mat-cell *matCellDef="let candidate"> {{candidate.office_full |titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="candidate_status">
        <th mat-header-cell *matHeaderCellDef>Candidate Status</th>
        <td mat-cell *matCellDef="let candidate">{{candidate.candidate_status | titlecase}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataSource.pagination.count"
                   [pageSize]="dataSource.pagination.per_page"
                   [pageSizeOptions]="[5,10,20]"
                   (page)="pageEvent = $event; onPaginateChange($event)"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-card>
<div class="footer"></div>
